*{margin:0;padding:0;}

.dark{
	background: #008000;
	z-index = 2;
	
}

.light{
	background: #F5FFFA;
	z-index = 1;
}

.highlight{
	box-shadow: 0px 0px 5px 5px #8bf140 inset;
}

.box{
	margin-left: 33%;
	margin-top: 5%;
	width:75%;
	background:#FFFFFF;
}

.box .board{
	float:left;
	width:512px;
	background:#FFFFFF;
}

.board .square{
	float:left;
	height:64px;
	width:64px;
	text-align:center;
}

.piece{
	float:left;
	height:64px;
	width:64px;
	cursor: pointer;
	background-size:cover !important;
	z-index: 5;
	
	
}

.blackPiece{
	background: url(../img/checker-black.png);
}


.whitePiece{
	background: url(../img/checker-white.png);
}

.blackKing{
	background: url(../img/king-black.png);
}

.whiteKing{
	background: url(../img/king-white.png);
}

#player{
	float:left;
	margin-left: 10px;
	color: #000070;
}